<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{ate}}">
		{{#unless ate}}Devoured it!{{else}}Back to Wishlist!{{/unless}}
	</button>

    <button class="delete-eat" data-id="{{this.id}}">DELETE!</button>
</li>
